# Employee Attrition Analysis
This notebook explores factors influencing employee 
attrition using IBM HR dataset.

## Setups and import

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Optional: make plots look nicer sasa
sns.set(style="whitegrid")

### Load the dataset

In [ ]:
# Read the dataset
df = pd.read_csv('employee_attrition_ibm_hr.csv')

# Display the first 5 rows and show number of columns
df.head()

###  Understanding the datset

In [ ]:
# Check column names and data types
df.info()

In [ ]:
# Check for missing values
df.isnull().sum()

In [32]:
# Get summary statistics for numerical columns
df.describe().round(2)

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.00,1470.00,1470.00,1470.00,1470.0,1470.00,1470.00,1470.00,1470.00,1470.00,...,1470.00,1470.0,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00,1470.00
mean,36.92,802.49,9.19,2.91,1.0,1024.87,2.72,65.89,2.73,2.06,...,2.71,80.0,0.79,11.28,2.80,2.76,7.01,4.23,2.19,4.12
std,9.14,403.51,8.11,1.02,0.0,602.02,1.09,20.33,0.71,1.11,...,1.08,0.0,0.85,7.78,1.29,0.71,6.13,3.62,3.22,3.57
min,18.00,102.00,1.00,1.00,1.0,1.00,1.00,30.00,1.00,1.00,...,1.00,80.0,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
25%,30.00,465.00,2.00,2.00,1.0,491.25,2.00,48.00,2.00,1.00,...,2.00,80.0,0.00,6.00,2.00,2.00,3.00,2.00,0.00,2.00
50%,36.00,802.00,7.00,3.00,1.0,1020.50,3.00,66.00,3.00,2.00,...,3.00,80.0,1.00,10.00,3.00,3.00,5.00,3.00,1.00,3.00
75%,43.00,1157.00,14.00,4.00,1.0,1555.75,4.00,83.75,3.00,3.00,...,4.00,80.0,1.00,15.00,3.00,3.00,9.00,7.00,3.00,7.00
max,60.00,1499.00,29.00,5.00,1.0,2068.00,4.00,100.00,4.00,5.00,...,4.00,80.0,3.00,40.00,6.00,4.00,40.00,18.00,15.00,17.00

 ###    Identify numeric columns that might be categorical

In [ ]:
# Select numeric columns
numeric_cols = df.select_dtypes(include='number').columns

# Print number of unique values per numeric column
for col in numeric_cols:
    unique_vals = df[col].nunique()
    print(f"{col}: {unique_vals} unique values")

# Identify likely categorical numeric columns (few unique values)
categorical_numeric = [col for col in numeric_cols if df[col].nunique() < 10]
print("\nLikely categorical numeric columns:", categorical_numeric)

 ###    Map categorical numeric columns

In [ ]:
# Define mappings
education_map = {1: 'Below College', 2: 'College', 3: 'Bachelor', 4: 'Master', 5: 'Doctor'}
satisfaction_map = {1: 'Low', 2: 'Medium', 3: 'High', 4: 'Very High'}
worklife_map = {1: 'Bad', 2: 'Good', 3: 'Better', 4: 'Best'}
performance_map = {1: 'Low', 2: 'Good', 3: 'Excellent', 4: 'Outstanding'}

# Apply mappings
df['Education'] = df['Education'].map(education_map)
df['EnvironmentSatisfaction'] = df['EnvironmentSatisfaction'].map(satisfaction_map)
df['JobInvolvement'] = df['JobInvolvement'].map(satisfaction_map)
df['JobSatisfaction'] = df['JobSatisfaction'].map(satisfaction_map)
df['WorkLifeBalance'] = df['WorkLifeBalance'].map(worklife_map)
df['PerformanceRating'] = df['PerformanceRating'].map(performance_map)

# Verify mappings
df[['Education', 'JobSatisfaction', 'WorkLifeBalance', 'PerformanceRating']].head()

###     Employee attrition analysis

In [ ]:
# Count employees who left vs stayed
attrition_counts = df['Attrition'].value_counts()
print("Attrition counts:\n", attrition_counts)

# Plot attrition distribution
sns.countplot(x='Attrition', data=df)
plt.title('Employee Attrition Distribution')
plt.show()

###     Export cleaned data to Tableu

In [33]:
df.to_csv('employee_attrition_cleaned.csv', index=False)